.homepage-container {
  height: 100vh; /* Make the container take up the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-container {
  text-align: center;
  max-width: 800px; /* Set a maximum width for the centered container */
  margin: 0 auto; /* Center the container horizontally */
}

.card-header {
  background-color: #f0f0f0;
  padding: 25px 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-header p {
  font-size: 14px;
  margin: 0;
  text-align: right;
}

.weather-details-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Media queries for responsive design */

/* Small screens (less than 768px) */
@media (max-width: 768px) {
  .centered-container {
    max-width: 90%; /* Reduce the maximum width for small screens */
  }
  .card-header {
    flex-direction: column; /* Stack the header elements vertically on small screens */
    align-items: center;
  }
  .card-header h2 {
    font-size: 16px; /* Reduce the font size for small screens */
  }
  .card-header p {
    font-size: 12px; /* Reduce the font size for small screens */
    text-align: center;
  }
}

/* Extra small screens (less than 480px) */
@media (max-width: 480px) {
  .centered-container {
    max-width: 95%; /* Reduce the maximum width for extra small screens */
  }
  .card-header {
    padding: 10px; /* Reduce the padding for extra small screens */
  }
  .card-header h2 {
    font-size: 14px; /* Reduce the font size for extra small screens */
  }
  .card-header p {
    font-size: 10px; /* Reduce the font size for extra small screens */
  }
}
