.homepage-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 2/3 for the left column, 1/3 for the right */
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px;
  width: 65%;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.today-weather h2,
.current-weather h2,
.top-stories h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.weather-details {
  display: flex;
  justify-content: space-between;
}

.temperature span {
  font-size: 3rem;
  font-weight: bold;
}

.additional-details p {
  margin: 5px 0;
}

.top-stories ul {
  list-style: none;
  padding: 0;
}

.top-stories li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.top-stories span {
  font-size: 0.8rem;
  color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .homepage-container {
    grid-template-columns: 1fr; /* Full width for small screens */
  }

  .weather-details {
    flex-direction: column;
    align-items: center;
  }
}
